public/assets/Video_PreAudio.mov
dist/assets/Video_PreAudio.mov
public/assets/GliIncappucciati_MatteoFalcone.mov
dist/assets/GliIncappucciati_MatteoFalcone.mov
raspberry-pi\dist\assets\components\USBcable.png
raspberry-pi\dist\assets\Video_PreAudio.mov